/* body {
            font-family: {{ font }};
            color: {{ body_color }};
        }
   
       .nav, .nav-link, .nav-item {
           color: {{ font_color }};
       }
   
        img {
            width: 300px;
            height: 400px;
        }
   
        .button-color, footer, .custom-color {
            color: {{ footer_color }};
            background-color: {{ accent_color }};
        } */